body{
    background-color: rgba(195, 195, 195, 0.751);
    
}

h1{
    color: rgb(2, 2, 26);
    text-align: center; font-family: 	Copperplate;
    font-size: 300%;
}

h2{
    text-align: center;
    text-align: center; font-family: Copperplate Gothic Light;
    color: rgba(29, 50, 97, 0.904);
    font-style: italic; 
}

h3{
    color: rgb(79, 33, 122); font-family: Lucida Sans Unicode ;font-size: 200%;
    align-self: center;
}


h4{
    text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 200% ;
}


h5{
  font-family:Segoe UI Symbol; font-size: 200%; color: rgb(58, 17, 87);
}

img{ display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }


.Flex1{
    display: flex; justify-content: space-around;
}
.riri{
    height: 25%; width: 25%;
}


.Flex2{
    display: flex; justify-content: space-around;
}
.rixie{
    height: 17%; width: 17%;
}

.Flex3{
    align-items: flex-start;
}


.Flex3{
    display: flex;flex-direction: column;
}

.riwriw{
    height: 17%; width: 17%;
}

.roro{
    background-color: rgb(255, 255, 255) ; color: rgb(12, 5, 53); font-size: 200%; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: flex; flex-direction: row;
}

.liste{
    font-size: 150%; color: rgb(57, 22, 90); font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    flex-direction: column; justify-content: space-between;
}


@media screen and (max-width: 1024px)

@media screen and (max-width: 1024px) and (min-width:620px ) 

@media screen and (max-width: 600px) and (min-width:320px ) 

