body{
    background-color: rgba(195, 195, 195, 0.751);
    
}

h1{
    color: rgb(2, 2, 26);
    text-align: center; font-family: 	Copperplate;
    font-size: 300%;
}

h2{
    text-align: center;
    text-align: center; font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(29, 50, 97, 0.904);
}

h3{
    text-align: center; font-family: 'Times New Roman', Times, serif; font-size: 200% ;
}

img{ display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }


.Flex1{
    display: flex; justify-content: space-around;
}
.riri{
    height: 25%; width: 25%;
}


.Flex2{
    display: flex; justify-content: space-around;
}
.rixie{
    height: 17%; width: 17%;
}

.Flex3{
    align-items: flex-start;
}


.Flex3{
    display: flex;flex-direction: column;
}

.riwriw{
    height: 17%; width: 17%;
}


